<div class="col-md-4 col-xl-4 search">
    <form  #ResearchForm>
        <div class="col-auto">
            <label for="city" class="form-label">Rechercher un restaurant</label>
        </div>

        <div class="input-group rounded">
            <input type="text" (keyup)="recupererVille($event)" [formControl]="city" id="city" name="city" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <!-- <input type="search" [formControl]="city" id="city" name="city" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" /> -->

            @if (city.invalid && (city.dirty || city.touched)) {
                <div class="error">Renseigner la ville</div>
            }
            <button (click)="recupererVille($event)" class="input-group-text border-0" id="search-addon" [disabled]="city.invalid">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
    <!-- <ul class="dropdown-menu" *ngIf="cities$ | async">
        <li *ngFor="let city of cities$ | async"><a class="dropdown-item" href="#">{{ city.display_name }}</a></li>
     </ul> -->
     <h2>waaaah</h2>
     <select [formControl]="cityAdress" *ngIf="cities$ | async"  #cityAdress (change)='SelectedValue = cityAdress.value'>
        <option *ngFor="let city of cities$ | async" [value]="city.display_name" >{{ city.display_name }}</option>
     </select>

    <!-- @if(cities$ | async){
        <select [formControl]="cityAdress" *ngIf="cities$ | async">
        @for (city of cities$ | async; truck city){
            <option value="city"> {{ city.display_name }}</option>

        }
        </select>

    }
      -->
</div>

<!-- <div class="input-group rounded">
    <input type="search" [formControl]="city" id="city" name="city" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button (click)="recupererVille($event)" class="input-group-text border-0" id="search-addon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div> -->


